{% extends "gramps-base.html" %}
{% block title %}GRAMPS Connect - {{cview}} view page {% endblock %}
{% block heading %}GRAMPS - {{cview}} view page {% endblock %}

{% block content %} 

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table>
   <tr>
   {% with page.object_list.values.0 as row %}
      {% for key, value in row.items %}
          {% for header in headers %}
             {% ifequal header key %}
                <th>{{key}}</th>
             {% endifequal %}
          {% endfor %}
      {% endfor %}
   {% endwith %}
   </tr>

{% for row in page.object_list.values %}
   <tr>
      {% for key, value in row.items %}
          {% for header in headers %}
             {% ifequal header key %}
                <td><a href="/{{view}}/{{row.handle}}/">{{ value }}</a> </td>
             {% endifequal %}
          {% endfor %}
      {% endfor %}
   </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
